body{
background-color:#e6e6ff;
}

h{
position: absolute;
left: 0;
top: 0;

}

.navigation-bar {
    width: 100%;  /* i'm assuming full width */
    height: 80px; /* change it to desired width */
    background-color: white; /* change to desired color */
}

.navigation-bar > a {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        /* if you want it to take the full height of the bar */
    line-height: 80px;    /* if you want it vertically middle of the navbar */
}

* {box-sizing:border-box}


.slideshow-container {
  max-width: 260px;
  position: relative;
  margin: auto;
}

div {
  height: 230px;
  width: 230px;
  position:absolute;
      top:25%;
      left:1%;
}


.mySlides {
  display: none;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
